<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1>Daniel's Music Database</h1>
    <%= @appParam %>
    <table class="table">
      <thead>
        <th>Song</th>
        <th>Artist</th>
        <th>Genre</th>
      </thead>
      <tbody>
        <% @songs.each do |song| %>
          <tr>
            <td><span class="glyphicon glyphicon-play"></span><%= link_to song.name, song_url(song.id) %></td>
            <td><%= link_to song.artist.name, artist_url(song.artist.id) %></td>
            <td><%= link_to song.artist.genre.name, genre_url(song.artist.genre.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
